@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
/* Default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #F0F0F0;
    font-family: 'Archivo', sans-serif;
}
h1{
    font-size: 5vw;
    padding: 1vw;
    text-align: center;
}
.main{
    
    background: #3C486B;
    color: #F0F0F0;
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    border-radius: 5vw;
    display: flex;
}
.column1{
    
    display: block;
    width: 50%;
    padding: 2vw;
    margin: 2vw;
}
p{
    font-family: 'Archivo', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: 1.5vw;
}
.no_of_p{
    margin-top: 2vw;
}
input{
    height: 2vw;
    width: 20vw;
    border: none;
    border-radius: 1vw;
    margin: 1vw;
    padding: 2vw;
    font-size: 1.5vw;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    background-color: #F0F0F0;
}
input:focus{
    outline: none;
    background-color:#ffffff;
    color: #000000;
}
button{
    height: 4vw;
    width: 6vw;
    font-size: 1.4vw;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    position: relative;
    background-color: red;
    outline: none;
    border: none;
    margin: 0.5vw;
    border-radius: 1vw;
}
button:focus{
    background-color: rgb(255, 255, 255);   
    box-shadow:  2px 5px 20px 2px rgba(255, 15, 15, 0.92);

}
button:hover{
    cursor: pointer;
    transition: 0.2s all ease;
background-color: white;   
    box-shadow:  2px 5px 20px 2px rgb(255, 15, 15);
}

.billpercent{
    margin-top: 2vw;
}
.column2{
   
    width: 40%;
    padding: 1vw;
    margin: 3vw;
    
}
.tip_per_p, .total_per_p{
     
    font-size: 3vw;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    
}


.rs{
    color: red;
    font-size: 2.5vw; 
  
}
.amt{
    font-size: 4.5vw;   

}


/* Responsive styles */
@media only screen and (max-width: 768px){
    /* Adjust the width of the main container */
    .main{
        display: flexbox;
        flex-direction: column;
        width: 80%;
        height: 60%;
    }
    /* Adjust the width of the input fields */
    input{
        width: 100%;
    }
    /* Display the tip percent buttons in a column */
    .billpercent{
        flex-direction: column;
    }
    /* Adjust the font size of the tip percent buttons */
    .billpercent button{
        font-size: 16%;
    }
}
